name: nitorch-build

on:
  push:
    branches: [ ci ]
  pull_request:
    branches: [ ci ]


jobs:

  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [ 3.6, 3.7, 3.8 ]
        pytorch-version: [ 1.3, 1.4, 1.5, 1.6, 1.7 ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install pip
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install PyTorch
      run: pip install torch==${{ matrix.pytorch-version }}
    - name: Build
      run: python ./setup.py install
